*.class
*.log
/out
.DS_Store
/sireum-v3
/sireum-intellij-plugin.zip
/intellij-plugin.zip
/.idea/libraries
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/hydra.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/sbt.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/scala_settings.xml
